extends layout

block content
  .container
    .jumbotron.header
    
  // Timer
  .container.timer-container.timer    
      p#bigmessage
      p#bigmessage2
      p#bigtime     
  
  .container
    .col-md-5
    .col-md-1
      .button#btnStart.btn.btn-default.btn-lg.action-button
        span.glyphicon.glyphicon-off    
    .col-md-1      
      .button#btnReset.btn.btn-default.btn-lg.action-button
        span.glyphicon.glyphicon-fast-backward        
    .col-md-1      
      .button#btnNext.btn.btn-default.btn-lg.action-button
        span.glyphicon.glyphicon-share                
    .col-md-5
  
  .container
    .list-group#infoList         