extends layout

block content
  .container
    .jumbotron.header
    
  // Timer
  .container.timer-container.timer          
      p#bigtime     
  
  .container
    .list-group#infoList         

  .container
    .col-md-5
    .col-md-2      
      .button#btnReset.btn.btn-default.btn-lg.action-button
        span.glyphicon.glyphicon-fast-backward        
    .col-md-5